#logistics {
     @include breakpoint(1201px 5000px){
  @include backImage('../images/logistics1600.jpg', to bottom, .8, 0, 50% top);
  }//1600
   @include breakpoint(601px 1200px){
  @include backImage('../images/logistics1200.jpg', to bottom, .8, 0, 50% top);
  }//1200
  @include breakpoint(max-width 600px){
  @include backImage('../images/logistics400.jpg',  to bottom, .8, 0, 50% top);
  }//400
  border-bottom:10px solid white;
  @include clearfix;
  article {
    margin-top:40px;
    background-color:rgba($dark, 0.35);
    @include border-radius(10px);
    padding:30px;
 
   
    @include container(90%);
    @include breakpoint($small) {
      @include container(30em);
      padding: 30px 20px 20px 45px;
      margin-right:38%;
    } //breakpoint

     p{
    
    }//p
  } //article

  h1 {
        font-family:$fontfamily;
        color: $light;
        font-size: 2.2em;
        line-height: 0.8em;
        //@include text-shadow($dark 0 0 10px);
        text-align: left;
        padding:20px 25px;
         @include breakpoint($medium){
        font-size:4.5em;
        }
          span{
          font-family:$thinfont;
          color:$light;
          }
      } //h1
      img{float:right;padding-right:20px;max-width:80%; height:auto;
        @include breakpoint(max-width $small){
        padding:5px;text-align:center;
        }
      }//img
  
} //logistics