#solution {
  @include backImage('../images/solution_big.jpg', to bottom, .4, 0, 50% top);
  //padding-bottom:300px;
  @include clearfix;
  article {
    width:100%;
    height:100%;
    margin-top:10px;
    @include container(90%);
    @include breakpoint($small) {
      @include container(30em);
      padding: 30px 20px 20px 45px;
      //margin-right:38%;
    } //breakpoint
 
  } //article
  h1 {
        font-family:$thinfont;
        color: $light;
        font-size: 2.2em;
        font-weight: $thin;
        line-height: 0.8em;
        //@include text-shadow($dark 0 0 10px);
        text-align: left;
        padding:0px 25px;
         @include breakpoint($medium){
        font-size:4.5em;
        }
          span{
          font-family:$fontfamily;
          color:$light;
          font-weight:$heavy;
          }
      } //h1
       img{float:right;padding-right:20px;max-width:60%; height:auto;padding-top:385px;
      }//img
  
} //service