#solution {
 @include background-image(linear-gradient(#585D74, white 20%, white 80%, #aaaaaa));
  @include clearfix;
  article {
    width:100%;
    height:100%;
    margin-top:10px;
    @include container(90%);
    @include breakpoint($small) {
      @include container(30em);
      padding: 30px 20px 20px 45px;
      //margin-right:38%;
    } //breakpoint
    .circle{
       position:relative;
       background:$red;
       width:200px;
       height:200px;
       @include border-radius(50%);
       @include box-shadow(grey 0px 2px 10px);
         a{
            position:absolute;
            top:30%;
            left:30%;      
         }//a
    }//circle
   img{
   max-width:100%;
   max-height:100%;
 }
  } //article
   .prvi{
    @include span(6);
    }
    .drugi{
     @include span(6 last);
    }
  h1 {
        font-family:$thinfont;
        color: $light;
        font-size: 2.2em;
        font-weight: $thin;
        line-height: 0.8em;
        //@include text-shadow($dark 0 0 10px);
        text-align: left;
        padding:0px 25px;
         @include breakpoint($medium){
        font-size:4.5em;
        }
          span{
          font-family:$fontfamily;
          color:$light;
          font-weight:$heavy;
          }
      } //h1
       img{float:right;padding-right:20px;max-width:60%; height:auto;
        @include breakpoint(max-width $small){
        padding:5px;text-align:center;
        }
      }//img
  
} //service