/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'gotham_probold';
  src: url("../fonts/GothaProBol-webfont.eot");
  src: url("../fonts/GothaProBol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GothaProBol-webfont.woff2") format("woff2"), url("../fonts/GothaProBol-webfont.woff") format("woff"), url("../fonts/GothaProBol-webfont.ttf") format("truetype"), url("../fonts/GothaProBol-webfont.svg#gotham_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_thinregular';
  src: url("../fonts/ufonts.com_gotham-thin-webfont.eot");
  src: url("../fonts/ufonts.com_gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_gotham-thin-webfont.woff2") format("woff2"), url("../fonts/ufonts.com_gotham-thin-webfont.woff") format("woff"), url("../fonts/ufonts.com_gotham-thin-webfont.ttf") format("truetype"), url("../fonts/ufonts.com_gotham-thin-webfont.svg#gotham_thinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'news_gothicregular';
  src: url("../fonts/ufonts.com_news-gothic-regular-webfont.eot");
  src: url("../fonts/ufonts.com_news-gothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_news-gothic-regular-webfont.woff2") format("woff2"), url("../fonts/ufonts.com_news-gothic-regular-webfont.woff") format("woff"), url("../fonts/ufonts.com_news-gothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../../../components/sass/_base.scss */
body {
  font: normal 1.3em/1.4em "news_gothicregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #FFFFFF;
}

/* line 9, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 15px;
}

/* line 15, ../../../components/sass/_base.scss */
ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

/* line 20, ../../../components/sass/_base.scss */
li:before {
  content: "";
  border-color: transparent #FFFFFF;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/* line 33, ../../../components/sass/_base.scss */
a:link {
  color: white;
  text-decoration: none;
}

/* line 39, ../../../components/sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 43, ../../../components/sass/_base.scss */
a:visited {
  color: #000000;
  text-decoration: underline;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 7, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 20px 0;
}
/* line 11, ../../../components/sass/_layout.scss */
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 7, ../../../components/sass/_layout.scss */
  .scene {
    padding: 40px 0;
  }
}
@media (min-width: 960px) {
  /* line 20, ../../../components/sass/_layout.scss */
  .scene article {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 2, ../../../components/sass/modules/_intro.scss */
header .fullheight {
  border-bottom: 10px solid white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 800px;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 2, ../../../components/sass/modules/_intro.scss */
  header .fullheight {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2)), url("../images/intro1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 2, ../../../components/sass/modules/_intro.scss */
  header .fullheight {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2)), url("../images/intro1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 2, ../../../components/sass/modules/_intro.scss */
  header .fullheight {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2)), url("../images/intro400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 18, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 2%;
}
/* line 25, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D2123D;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}
@media (max-width: 400px) {
  /* line 25, ../../../components/sass/modules/_intro.scss */
  header .fullheight .hgroup h1 {
    font-size: 3.8em;
  }
}
/* line 35, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 span {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #000000;
}
/* line 45, ../../../components/sass/modules/_intro.scss */
header .fullheight img {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 60%;
}

/* line 1, ../../../components/sass/modules/_about.scss */
#about {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_about.scss */
  #about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/about1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_about.scss */
  #about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/about1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_about.scss */
  #about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/about400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#about:before, #about:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#about:after {
  clear: both;
}
/* line 13, ../../../components/sass/modules/_about.scss */
#about article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#about article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_about.scss */
  #about article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #about article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 29, ../../../components/sass/modules/_about.scss */
#about h1 {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 200;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 650px) {
  /* line 29, ../../../components/sass/modules/_about.scss */
  #about h1 {
    font-size: 3em;
  }
}
/* line 41, ../../../components/sass/modules/_about.scss */
#about h1 span {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 800;
}
/* line 48, ../../../components/sass/modules/_about.scss */
#about img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 48, ../../../components/sass/modules/_about.scss */
  #about img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_discover.scss */
#discover {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_discover.scss */
  #discover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/dicover1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_discover.scss */
  #discover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/dicover1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_discover.scss */
  #discover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/dicover400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#discover:before, #discover:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#discover:after {
  clear: both;
}
/* line 14, ../../../components/sass/modules/_discover.scss */
#discover article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#discover article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 14, ../../../components/sass/modules/_discover.scss */
  #discover article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #discover article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 32, ../../../components/sass/modules/_discover.scss */
#discover h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 200;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 650px) {
  /* line 32, ../../../components/sass/modules/_discover.scss */
  #discover h1 {
    font-size: 2.5em;
  }
}
/* line 44, ../../../components/sass/modules/_discover.scss */
#discover h1 span {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
  font-weight: 800;
}
/* line 50, ../../../components/sass/modules/_discover.scss */
#discover img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 50, ../../../components/sass/modules/_discover.scss */
  #discover img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_design.scss */
#design {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_design.scss */
  #design {
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.3)), url("../images/design1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_design.scss */
  #design {
    background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0)), url("../images/design1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_design.scss */
  #design {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../images/design400.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#design:before, #design:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#design:after {
  clear: both;
}
/* line 13, ../../../components/sass/modules/_design.scss */
#design article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#design article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_design.scss */
  #design article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #design article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 30, ../../../components/sass/modules/_design.scss */
#design h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 5em;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 600px) {
  /* line 30, ../../../components/sass/modules/_design.scss */
  #design h1 {
    font-size: 2em;
  }
}
/* line 41, ../../../components/sass/modules/_design.scss */
#design h1 span {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
}
/* line 47, ../../../components/sass/modules/_design.scss */
#design img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 47, ../../../components/sass/modules/_design.scss */
  #design img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_service.scss */
#service {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_service.scss */
  #service {
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0)), url("../images/service1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_service.scss */
  #service {
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0)), url("../images/service1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_service.scss */
  #service {
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.2)), url("../images/service1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#service:before, #service:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#service:after {
  clear: both;
}
/* line 14, ../../../components/sass/modules/_service.scss */
#service article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#service article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 14, ../../../components/sass/modules/_service.scss */
  #service article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #service article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 32, ../../../components/sass/modules/_service.scss */
#service h1 {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 200;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 650px) {
  /* line 32, ../../../components/sass/modules/_service.scss */
  #service h1 {
    font-size: 2.5em;
  }
}
/* line 44, ../../../components/sass/modules/_service.scss */
#service h1 span {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 800;
}
/* line 50, ../../../components/sass/modules/_service.scss */
#service img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 50, ../../../components/sass/modules/_service.scss */
  #service img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_solution.scss */
#solution {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/solution_big.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bootom: 300px;
}
/* line 42, ../../../components/sass/_mixins.scss */
#solution:before, #solution:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#solution:after {
  clear: both;
}
/* line 9, ../../../components/sass/modules/_solution.scss */
#solution article {
  margin-top: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#solution article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 9, ../../../components/sass/modules/_solution.scss */
  #solution article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #solution article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 28, ../../../components/sass/modules/_solution.scss */
#solution h1 {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 200;
  line-height: 0.8em;
  text-align: left;
  padding: 10px 25px;
}
@media (max-width: 650px) {
  /* line 28, ../../../components/sass/modules/_solution.scss */
  #solution h1 {
    font-size: 2.5em;
  }
}
/* line 40, ../../../components/sass/modules/_solution.scss */
#solution h1 span {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 800;
}
/* line 46, ../../../components/sass/modules/_solution.scss */
#solution img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 46, ../../../components/sass/modules/_solution.scss */
  #solution img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_logistics.scss */
#logistics {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_logistics.scss */
  #logistics {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/logistics1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_logistics.scss */
  #logistics {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/logistics1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_logistics.scss */
  #logistics {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/logistics400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#logistics:before, #logistics:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#logistics:after {
  clear: both;
}
/* line 13, ../../../components/sass/modules/_logistics.scss */
#logistics article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.35);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#logistics article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_logistics.scss */
  #logistics article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #logistics article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 32, ../../../components/sass/modules/_logistics.scss */
#logistics h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 5em;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 650px) {
  /* line 32, ../../../components/sass/modules/_logistics.scss */
  #logistics h1 {
    font-size: 2.5em;
  }
}
/* line 43, ../../../components/sass/modules/_logistics.scss */
#logistics h1 span {
  font-family: "gotham_thinregular", "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
}
/* line 48, ../../../components/sass/modules/_logistics.scss */
#logistics img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 48, ../../../components/sass/modules/_logistics.scss */
  #logistics img {
    padding: 5px;
    text-align: center;
  }
}

/* line 1, ../../../components/sass/modules/_review.scss */
#review {
  border-bottom: 10px solid white;
}
@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_review.scss */
  #review {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/review1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_review.scss */
  #review {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/review1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_review.scss */
  #review {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/review400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#review:before, #review:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#review:after {
  clear: both;
}
/* line 13, ../../../components/sass/modules/_review.scss */
#review article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.65);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#review article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_review.scss */
  #review article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #review article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 32, ../../../components/sass/modules/_review.scss */
#review h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 2.2em;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (min-width: 960px) {
  /* line 32, ../../../components/sass/modules/_review.scss */
  #review h1 {
    font-size: 4.5em;
  }
}
/* line 46, ../../../components/sass/modules/_review.scss */
#review img {
  float: right;
  padding-right: 20px;
  max-width: 60%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 46, ../../../components/sass/modules/_review.scss */
  #review img {
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 1201px) and (max-width: 5000px) {
  /* line 1, ../../../components/sass/modules/_summary.scss */
  #summary {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/summary1600.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  /* line 1, ../../../components/sass/modules/_summary.scss */
  #summary {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/summary1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../../components/sass/modules/_summary.scss */
  #summary {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/summary400.jpg");
    background-repeat: no-repeat;
    background-position: 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 42, ../../../components/sass/_mixins.scss */
#summary:before, #summary:after {
  content: '';
  display: table;
}
/* line 47, ../../../components/sass/_mixins.scss */
#summary:after {
  clear: both;
}
/* line 12, ../../../components/sass/modules/_summary.scss */
#summary article {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#summary article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 12, ../../../components/sass/modules/_summary.scss */
  #summary article {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 20px 45px;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #summary article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 24, ../../../components/sass/modules/_summary.scss */
#summary h1 {
  font-family: "gotham_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 200;
  line-height: 0.8em;
  text-align: left;
  padding: 20px 25px;
}
@media (max-width: 650px) {
  /* line 24, ../../../components/sass/modules/_summary.scss */
  #summary h1 {
    font-size: 2.5em;
  }
}
/* line 37, ../../../components/sass/modules/_summary.scss */
#summary img {
  float: right;
  padding-right: 20px;
  margin-top: 1em;
  max-width: 70%;
  height: auto;
}
@media (max-width: 650px) {
  /* line 37, ../../../components/sass/modules/_summary.scss */
  #summary img {
    padding: 5px;
    text-align: center;
  }
}
/* line 42, ../../../components/sass/modules/_summary.scss */
#summary p {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(148, 7, 7, 0.5);
  font-weight: bold;
  padding: 2em;
  line-height: 1.6em;
  text-align: left;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#summary p:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 42, ../../../components/sass/modules/_summary.scss */
  #summary p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-right: 38%;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  #summary p:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
  padding: 30px 0;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../../../components/sass/modules/_footer.scss */
footer #socialmedia {
  text-align: center;
}
/* line 7, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul {
  list-style: none;
}
/* line 9, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li {
  display: inline-block;
  padding: 0 10px;
}
/* line 12, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li img {
  width: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
